html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#__nuxt {
  height: 100%;
}

body {
  background-color: black;
  color: white;
}

.main-contents {
  padding: 1em;
}

h1,
h2,
h3 {
  margin: 0.25em 0;
  font-weight: bold;
}
h1 {
  font-size: 1.4rem;
}
h2 {
  font-size: 1.2rem;
}
h3 {
  font-size: 1rem;
}
hr {
  margin: 0;
}

p {
  margin: 0;
}

pre {
  white-space: wrap;
}

select {
  color: black;
}

.card {
  border: 1px solid white;
  border-radius: 5px;
  padding: 1em;
}

table {
  &.border {
    border-collapse: collapse;
    th,
    td {
      border: 1px solid white;
      padding: 0em 0.25em;
    }
  }
}

@page {
  size: landscape;
}
@media print {
  .no-print {
    display: none !important;
  }
  main {
    height: 100vh;
    display: flex;
    align-items: center;
    flex-grow: 1;
    > div {
      width: 100%;
    }
  }
  .avatar-card {
    width: unset !important;
    margin: auto;
    size: A4;
  }
}
